#chatlog {
    width: 81%;
    margin: 0;
    font-size: 120%;
    border-collapse: collapse;
}

.msg-timestamp {
    font-size: 80%;
    color: #808080;
    background: #f0f0f0;
    text-align: right;
}

.msg-sender {
    text-align: right;
    font-weight: bold;
    background: #f0f0f0;
    white-space: nowrap;
}

.msg-content {
    background: #ffffff;
    width: 100%;
    border: 1px solid #f0f0f0;
    border-right: 0;
}

.msg-timestamp abbr {
    border-bottom: 0;
}

.msg-content img.embedded-image {
    max-width: 400px;
    max-height: 400px;
}

.event-part .msg-timestamp, .event-part .msg-sender {
    background: #FFEBEB;
    font-weight: normal;
}

.event-part .msg-content {
    font-style: italic;
    background: #FFEBEB;
    border: 0;
}

.event-join .msg-timestamp, .event-join .msg-sender {
    background: #EBFFEC;
    font-weight: normal;
}

.event-join .msg-content {
    font-style: italic;
    background: #EBFFEC;
    border: 0;
}

.event-topic .msg-timestamp, .event-topic .msg-sender {
    background: #EBECFF;
    font-weight: normal;
}

.event-topic .msg-content {
    font-style: italic;
    background: #EBECFF;
    border: 0;
}

.event-topic .msg-content:before {
    content: 'changed the topic to: ';
}

.event-join .msg-content:before {
    content: 'entered the room';
}

.event-part .msg-content:before {
    content: 'left the room';
}

#sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 18%;
    padding: .5%;
    background: #f0f0f0;
}

#room-name {
    text-decoration: underline;
}

#room-topic {
    line-height: 1.2;
}

h3#room-users {
    margin-bottom: .5em;
}

#userlist {
    font-size: 120%;
}

#userlist img {
    vertical-align: middle;
}

#text-entry {
    display: table;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #ffffff;
    height: 5em;
    width: 100%;
    padding: 0 1.5em;
}

#text-entry > div {
    display: table-cell;
    vertical-align: middle;
}

#text-entry-content {
    width: 600px;
}

.text-entry-spacer {
    height: 5em;
}

.edit {
    background: url(/images/page_white_edit.png) no-repeat;
    padding-left: 20px;
}

#rounded-corner {
    font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size:12px;
    width:300px;
    text-align:left;
    border-collapse:collapse;
    margin:20px;
}
#rounded-corner thead th.rounded-roomname {
    background:#b9c9fe url("/images/left.png") left -1px no-repeat;
}
#rounded-corner thead th.rounded-topic {
    background:#b9c9fe url("/images/right.png") right -1px no-repeat;
}
#rounded-corner th {
    font-weight:normal;
    font-size:13px;
    color:#039;
    background:#b9c9fe;
    padding:8px;
}
#rounded-corner td{ 
    background:#e8edff;
    border-top:1px solid #fff;
    color:#669;
    padding:8px;
}
#rounded-corner tfoot td.rounded-foot-left {
    background:#e8edff url("/images/botleft.png") left bottom no-repeat;
}
#rounded-corner tfoot td.rounded-foot-right {
    background:#e8edff url("/images/botright.png") right bottom no-repeat;
}
#rounded-corner tbody tr:hover td {
    background:#d0dafd;
}
