#chatlog {
    width: 81%;
    margin: 0;
    font-size: 120%;
    border-collapse: collapse;
}

.msg-timestamp {
    font-size: 80%;
    color: #808080;
    background: #f0f0f0;
}

.msg-sender {
    text-align: right;
    font-weight: bold;
    background: #f0f0f0;
    white-space: nowrap;
}

.msg-content {
    background: #ffffff;
    width: 100%;
    border: 1px solid #f0f0f0;
    border-right: 0;
}

.msg-content img.embedded-image {
    max-width: 400px;
    max-height: 400px;
}

.event-part .msg-timestamp, .event-part .msg-sender {
    background: #ffe0e0;
    font-weight: normal;
}

.event-part .msg-content {
    font-style: italic;
    background: #ffe0e0;
    border: 0;
}

.event-join .msg-timestamp, .event-join .msg-sender {
    background: #e7ffe1;
    font-weight: normal;
}

.event-join .msg-content {
    font-style: italic;
    background: #e7ffe1;
    border: 0;
}

.event-topic .msg-timestamp, .event-topic .msg-sender {
    background: #e1e4ff;
    font-weight: normal;
}

.event-topic .msg-content {
    font-style: italic;
    background: #e1e4ff;
    border: 0;
}

.event-topic .msg-content:before {
    content: 'changed the topic to: ';
}

.event-join .msg-content:before {
    content: 'entered the room';
}

.event-part .msg-content:before {
    content: 'left the room';
}

#sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 18%;
    padding: .5%;
    background: #f0f0f0;
}

#room-name {
    text-decoration: underline;
}

#room-topic {
    line-height: 1.2;
}

h3#room-users {
    margin-bottom: .5em;
}

#userlist {
    font-size: 120%;
}

#userlist img {
    vertical-align: middle;
}

#text-entry {
    display: table;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #ffffff;
    height: 5em;
    width: 100%;
    padding: 0 1.5em;
}

#text-entry > div {
    display: table-cell;
    vertical-align: middle;
}

#text-entry-content {
    width: 600px;
}

.text-entry-spacer {
    height: 5em;
}

.edit {
    background: url(/images/page_white_edit.png) no-repeat;
    padding-left: 20px;
}
