{% extends "base.html" %}

{% block content %}

    <table class="account-settings">
      <tr><th>Gravatar</th><td>{{ account.gravatar_tag|safe }}</td></tr>
      <tr><th>Account</th><td>{{ account.user.email }}</td></tr>
      <tr><th>Nickname</th><td>{{ account.nickname }}</td></tr>
      <tr><th>Sound effects</th><td>{{ account.use_sound|yesno:"enabled,disabled" }}</td></tr>
    </table>
    <p><a href="/account/{{ account.key }}/edit">Edit settings</a></p>
    
    <p><a href="/">Home</a> | <a href="/room/">Rooms List</a></p>

{% endblock %}
