<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">

<head>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8" /> 
  <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print" /> 
  <!--[if IE]>
  <link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection" />
  <![endif]-->
  <link rel="stylesheet" href="/css/main.css" type="text/css"/> 
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.3/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
  <script type="text/javascript" src="/js/jquery.jeditable.js"></script>
  <script type="text/javascript" src="/js/jquery.idle-timer.js"></script>
  <script type="text/javascript" src="/js/jquery.sound.js"></script>
  <script type="text/javascript" src="/js/audio-player.js"></script>  
  <script type="text/javascript">  
      AudioPlayer.setup("/js/player.swf", {  
          width: 290  
      });  
  </script>
  {% block head_extra %}{% endblock %}
  <title>{% block title %}Main Page{% endblock %}</title>
</head>

<body>
  <div>
    <h1>{% block heading %}GraphResearch Chat{% endblock %}</h1>
    <h2>{% block subheading %}{% endblock %}</h2>
    <div id="content">
      {% block content %}{% endblock %}
    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(function () {
      {% block script %}{% endblock %}
    });
  </script>
</body>

</html>
