{% extends "base.html" %}

{% block content %}


    <h2>Rooms</h2>
    {% for room in rooms %}
	<span>
    <table class="roomtable">
      <thead>
	    <tr>
          <th scope="col" class="roomname"><a href="/room/{{ room.key.name }}">{{ room.name }}</a></th>
          <th scope="col" class="topic">{{ room.topic }}</th>
		</tr>
	  </thead>
	  <tfoot>
	  <tr>
	  <td colspan="2">Last Activity: </td>
	  </tr>
	  </tfoot>
	  <tr class="roomusers">
		<td class="roomuserlist">
		{% for roomlisting in roomlist %}
		{% ifequal roomlisting.room.key room.key %}
		<ul>{{ roomlisting.account.nickname }}</ul>
		{% endifequal %}
		{% endfor %}
		</td>
		<td class="roomblank">&nbsp;</td>
	  </tr>
    </table>
	</span>
    {% endfor %}

    <h3>Create a new room</h3>

    <form action="" method="post">
      {% if error_msg %}
      <p style="color: #ff0000;">{{ error_msg }}</p>
      {% endif %}
      <p>Name: <input type="text" name="name" value="{{ name }}"/></p>
      <p><input type="checkbox" name="visibility" value="public" checked/> Make Public (visible in on this listing of rooms)</p>
      <p><input type="submit" value="Create Room"/></p>
    </form>

{% endblock %}
