{% extends "base.html" %}


{% block title %}{{ room.name }} - {{ room.topic }}{% endblock %}

{% block heading %}{% endblock %}


{% block content %}

<div id="sidebar">
    <h2 id="room-name">{{ room.name }}</h2>
    <h3 id="room-topic" class="edit">{{ room.topic }}</h3>
    <hr/>
    <h3 id="room-users">Users:</h3>
    <table id="userlist">
      {% for roomlisting in roomlist %}
      <tr id="user-{{ roomlisting.account.nickname }}">
        <td>{{ roomlisting.account.gravatar_tag }}
        {{ roomlisting.account.nickname }}</td>
      </tr>
      {% endfor %}
    </table>

    <form action="/room/{{ room.key }}/leave" method="post">
      <p>
        <input type="submit" value="Leave Room"/>
      </p>
    </form>
</div>

<table id="chatlog">
  {% for message in messages %}
    {% include "room_message.html" %}
  {% endfor %}
  {% include "room_message.html" %}
</table>
<div class="text-entry-spacer"></div>

<form id="text-entry" action="/room/{{ room.key }}/msg" method="post">  
  <div>
    <input id="text-entry-content" type="text" name="content" autocomplete="off"/>
    <input id="send-message" type="submit" value="Send"/>
  </div>
</form>

{% endblock %}


{% block script %}
chat.initChat(
    { 'key': '{{ room.key }}', 'name': '{{ room.name }}' },
    { 'nickname': '{{ account.nickname }}' },
    '{{ message_last_key }}'
);
{% endblock %}
