{% extends "base.html" %}


{% block title %}{{ room.name }}: {{ room.topic }}{% endblock %}

{% block heading %}{% endblock %}


{% block content %}
<div id="sidebar">
    <h2 id="room-name">{{ room.name }}</h2>
    <h3 id="room-topic" class="edit">{{ room.topic }}</h3>
    <hr/>
    <div class="user-stuff">
        <h3 id="room-users">Users:</h3>
        <table id="userlist">
          {% for roomlisting in roomlist %}
          <tr id="user-{{ roomlisting.account.key.id }}">
            <td>{{ roomlisting.account.gravatar_tag }}
            {{ roomlisting.account.nickname }}</td>
          </tr>
          {% endfor %}
        </table>
    </div>
    <div class="uploads">
    <hr/>
    <h3 id="room-fileuploads">Upload:</h3>
    <form>
            <div id="container">
                    <div id="filelist"></div>
                    <a id="pickfiles" href="#">[Upload files]</a>
            </div>
    </form>
    </div>
    <hr/>
    <form action="/room/{{ room.key.name }}/leave" method="post">
      <p>
        <input type="submit" value="Leave Room" id="leave" />
      </p>
    </form>
	<div id="settings">
		<a href="https://github.com/pfibiger/grumblechat/issues" target="_blank">Bug/Feature Request</a><br>
		<a href="/account/{{ account.key }}">My Settings</a>
	</div>
</div>
<div class="superfluous-surrounding">
<table id="chatlog">
  {% for message in messages %}
    {% include "room_message.html" %}
  {% endfor %}
  {% include "room_message.html" %}
</table>

<form id="text-entry" action="/room/{{ room.key.name }}/msg" method="post">  
  <div>
    <input id="text-entry-content" type="text" name="content" autocomplete="off" placeholder="UR MSG HERE"/>
  </div>
</form>
</div>

{% endblock %}


{% block script %}
the_room = { key: '{{ room.key.name }}', name: '{{ room.name }}' };
the_account = { nickname: '{{ account.nickname }}', id: '{{ account.key.id }}' };
chat.initialize(the_room, the_account, '{{ upload_url }}','{{ message_last_key }}');
{% endblock %}
