{% extends "base.html" %}

{% block content %}


    <h2>Rooms</h2>

    <h3>Existing rooms</h3>

    <table>
      <tr>
        <th style="padding-right: 1em;">Name</th>
        <th>Topic</th>
      </tr>
      {% for room in rooms %}
      <tr class="room">
        <td class="roomname"><a href="/room/{% firstof room.slug room.key %}">{{ room.name }}</a></td>
        <td class="roomtopic">{{ room.topic }}</td>
      </tr>
	  <tr class="roomusers">
		<td class="roomuserlist">
		{% for roomlisting in roomlist %}
		{% ifequal roomlisting.room.key room.key %}
		<ul>{{ roomlisting.account.nickname }}</ul>
		{% endifequal %}
		{% endfor %}
		</td>
		<td class="roomblank">&nbsp;</td>
	  </tr>
      {% endfor %}
    </table>

    <h3>Create a new room</h3>

    <form action="" method="post">
      {% if error_msg %}
      <p style="color: #ff0000;">{{ error_msg }}</p>
      {% endif %}
      <p>Name: <input type="text" name="name" value="{{ name }}"/></p>
      <p><input type="submit" value="Create Room"/></p>
    </form>

{% endblock %}
