{% extends "base.html" %}


{% block heading %}Room: {{ room.name }}{% endblock %}


{% block content %}

    <h3 class="edit" id="room-topic">{{ room.topic }}</h3>

<h3>Chat Log</h3>

<div id="chatlog" class="span-20">
  {% for message in messages %}
    {% include "room_message.html" %}
  {% endfor %}
  {% include "room_message.html" %}
  <form id="text-entry" action="/room/{{ room.key }}/msg" method="post">  
    <div class="span-20 last">
      <div class="span-16 push-4 last">
        <input id="text-entry-content" type="text" name="content" style="width: 560px;" autocomplete="off"/>
        <input id="send-message" type="submit" value="Send"/>
      </div>
    </div>
  </form>
</div>

<div id="sidebar" class="span-4 last">
    <h3>Users</h3>
    <table id="userlist">
      {% for roomlisting in roomlist %}
      <tr id="user-{{ roomlisting.account.nickname }}">
        <td>{{ roomlisting.account.gravatar_tag }}
        {{ roomlisting.account.nickname }}</td>
      </tr>
      {% endfor %}
    </table></div>

    <form action="/room/{{ room.key }}/leave" method="post">
      <p>
        <input type="submit" value="Leave Room"/>
      </p>
    </form>

{% endblock %}


{% block script %}
$(function() {
    var url_message_next = '/api/room/{{ room.key }}/msg/?since={{ message_last_key }}';
    var update_interval_min = 1000;
    var update_interval_max = 1000 * 60;
    var update_interval = update_interval_min;
    var message_display_max = 40;

    var $chatlog = $('#chatlog');
    var $msg_template = $chatlog.find('.message').last();
    var $text_entry_content = $('#text-entry-content');

    $('.edit').editable(function(topic) { 
        var post_url = '/api/room/{{ room.key }}/topic';
        $.ajax({
            url: post_url,
            type: "POST",
            data: { topic: topic },
            error: function() {
                alert("unknown error, try again");
            }
        });
        return topic;
     }, { 
        indicator : 'Saving...',
        tooltip   : 'Click to edit...',
        id   : 'room-topic',
        name : 'topic'
    });


    
    $('#text-entry').submit(function() {
      var msg = $text_entry_content.val();
      sendMessage(msg);
      $text_entry_content.val('');
      update_interval = update_interval_min; // FIXME need to cancel pending update and retrigger it with this new interval
      return false;
    });

    function scrollToBottom() {
        $('html').scrollTop($('html').attr('scrollHeight'));
    }
    function sendMessage(msg) {
        var post_url = '/api/room/{{ room.key }}/msg/';
        $.ajax({
            url: post_url,
            type: "POST",
            data: { message: msg },
            error: function() {
                alert("unknown error, try again");
            }
        });
    }
    function updateChat() {
        $.getJSON(url_message_next, function(data) {
            if (data.messages) {
                $.each(data.messages, function(index, message) {
                    switch(message.event) {
                        case 'message':
                            var $msg_new = $msg_template.clone();
                            $msg_new.css('display', '');
                            $msg_new.find('.msg-timestamp').html(chat.formatTime(chat.parseDate(message.timestamp)));
                            $msg_new.find('.msg-sender').html('&lt;' + message.sender_name + '&gt;');
                            $msg_new.find('.msg-content').html(message.content);
                            $msg_template.before($msg_new);
                            break;                      
                        case 'topic':
                            $('#room-topic').text(message.content);
                            break;
                        case 'part':
                            var $removeuser = 'user-' + message.sender_name;
                            $("#" + $removeuser).remove();
                            break;
                        case 'join':
                            var $adduser = 'user-' + message.sender_name;
                            if ($("#" + $radduser).length == 0){
                                $tablerow_toinsert = '<tr id="user-' + message.sender_name + '"><td>' +  message.content + ' ' + message.sender_name + '</td></tr>';
                                $('#userlist tr:last').after($tablerow_toinsert);
                            }
                            break;
                        default:
                        // TODO handle other event types (does JS have a switch statement? if so, use it)
                            break;
                    }

                });
                $messages = $chatlog.children('.message:visible');
                if ($messages.length > message_display_max) {
                    $messages.slice(0, $messages.length - message_display_max).remove();
                }
                scrollToBottom();
                url_message_next = data.next
                update_interval = update_interval_min;
            } else {
                //temporarily change the backoff from exponential to linear. + 2000 instead of * x
                update_interval = Math.min(update_interval + 2000, update_interval_max);
            }
            setTimeout(updateChat, update_interval);
        });
    }
    setTimeout(updateChat, update_interval);

    scrollToBottom();
    $('#text-entry-content').focus();
});

{% endblock %}
